
<!-- PRICING TABLE STYLE 1-->
<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-3 col-xs-12 float-shadow">        
      <div class="price_table_container">
        <div class="price_table_heading">Basic</div>
        <div class="price_table_body">
          <div class="price_table_row cost info-bg">
            <strong>RM 80</strong>
            <strong style="font-size:15px">/ month</strong>
          </div>
          <div class="price_table_row"><strong style="font-size:20px"></strong></div>
          <div class="price_table_row">FREE USAGE FOR 30 DAYS</div>
          <div class="price_table_row">Valid for 12 months</div>
          <div class="price_table_row">Up to 30 childrens</div>
          <div class="price_table_row">All updates available</div>
          <div class="price_table_row">Eligible for RM100 referrer's incentive</div>
                                                            
        </div>
        <%= link_to "CHOOSE", new_taska_path(plan: "BASIC"), class:"btn btn-info btn-lg btn-block" %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 float-shadow">
      <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="false"></span> MOST PURCHASED</strong></div>         
      <div class="price_table_container">
        <div class="price_table_heading">Standard</div>
        <div class="price_table_body">
          <div class="price_table_row cost success-bg">
            <strong>RM 150</strong>
            <strong style="font-size:15px">/ month</strong>
          </div>
          <div class="price_table_row"><strong style="font-size:20px"></strong></div>
          <div class="price_table_row">FREE USAGE FOR 30 DAYS</div>
          <div class="price_table_row">Valid for 12 months</div>
          <div class="price_table_row">Up to 60 childrens</div>
          <div class="price_table_row">All updates available</div>
          <div class="price_table_row">Eligible for RM100 referrer's incentive</div>
                                                           
        </div>
        <%= link_to "CHOOSE", new_taska_path(plan: "STANDARD"), class:"btn btn-success btn-lg btn-block" %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 float-shadow">        
      <div class="price_table_container">
        <div class="price_table_heading">Premium</div>
        <div class="price_table_body">
          <div class="price_table_row cost warning-bg">
            <strong>RM 200</strong>
            <strong style="font-size:15px">/ month</strong>
          </div>
          <div class="price_table_row"><strong style="font-size:20px"></strong></div>
          <div class="price_table_row">FREE USAGE FOR 30 DAYS</div>
          <div class="price_table_row">Valid for 12 months</div>
          <div class="price_table_row">Up to 80 childrens</div>
          <div class="price_table_row">All updates available</div>
          <div class="price_table_row">Eligible for RM100 referrer's incentive</div>
                                                            
        </div>
        <%= link_to "CHOOSE", new_taska_path(plan: "PREMIUM"), class:"btn btn-warning btn-lg btn-block" %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 float-shadow">        
      <div class="price_table_container">
        <div class="price_table_heading">Platinum</div>
        <div class="price_table_body">
          <div class="price_table_row cost primary-bg">
            <strong>RM 240</strong>
            <strong style="font-size:15px">/ month</strong>
          </div>
          <div class="price_table_row"><strong style="font-size:20px"></strong></div>
          <div class="price_table_row">FREE USAGE FOR 30 DAYS</div>
          <div class="price_table_row">Valid for 12 months</div>
          <div class="price_table_row">Up to 100 childrens</div>
          <div class="price_table_row">All updates available</div>
          <div class="price_table_row">Eligible for RM100 referrer's incentive</div>
                                                            
        </div>
        <%= link_to "CHOOSE", new_taska_path(plan: "PLATINUM"), class:"btn btn-primary btn-lg btn-block" %>
      </div>
    </div>

  </div>
</div>
<!-- SPACER-->


