<h4>CREATE NEW PAYSLIP FOR <%= @teacher.tchdetail.name.upcase %></h4>
<h3><%= "#{$month_name[params[:month].to_i]}-#{params[:year]}" %></h3>
<br>
<div class="row">
  <div class="col-sm-8 bg-light">
    <div style="background-color:#ccccff"><h5 align="center">PAYSLIP SUMMARY</h5></div>
    FORM SUMMARY
  </div>
  <div class="col-sm-4 bg-white">
    <div style="background-color:#cce5cc"><h5 align="center">PAYSLIP ENTRY</h5></div>
    FORM ENTRY
  </div>
</div>
