<h2>My Teachers</h2>

<% if @taska_teachers.size > 0 %>
			<div id="friend-lookup-result" class="well results-block col-md-10">				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						
						<% @taska_teachers.each do |teacher| %>
						
						<tr>
							<td><%= teacher.username %></td>
							<td><%= teacher.email %></td>
							
						</tr>
						<% end %>

					</tbody>

				</table>
				<%= link_to "Add Teacher", search_teacher_path ,class: "btn btn-xs btn-primary active" %>
			</div>
		<% else %>
			Please add someone
		<% end %>
