<div class="container">
  <a href="#" class="d-sm-inline-block btn btn-xl btn-info shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New Box</a><br><br>
  <div class="row">
    <% [1,1,1,1,1,1,1,1,1].each do |n| %>
      <div class="col-lg-3"> 
        <div class="rows">
          <div class="panel panel-default"  style="border-style: ridge;">
            <div class="panel-heading" style="background-color:blue">  

              <h4 style="color:white; text-align:center" >PENGERUSI</h4>
            </div>
            <div class="panel-body">
              <div class="container">
                <%= image_tag('kidcare_logo/kota_logo_only.png', size: "80x80") %>
              </div>
              <div class="" >
                <div class="container" >
                  <h4>David Beckham bin Abdullah</h4>
                </div>
                <hr>
                <div class="container" >
                  <i class="fas fa-user">&nbsp&nbsp   013-3333333</i><br>
                  <i class="fas fa-user">&nbsp&nbsp   No 56, Jalan LEP/3</i><br>
                  <i class="fas fa-user">&nbsp&nbsp   john@gmail.com</i>
                </div>
                <hr>
                <div class="container" >
                  <%= link_to "#", class: "text-warning text-right" do %>
                    <i class="fas fa-edit">Edit</i>
                  <% end %> &nbsp&nbsp&nbsp
                  <%= link_to "#", class: "text-danger", :data => {:confirm => 'Are you sure?'} do %>
                    <i class="fas fa-trash">Delete</i>
                  <% end %> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>






