
<h3 align="center">CURRENT PLAN : <%= @taska.plan %></h3>
<h4 align="center">Please Choose A New Plan</h4>

<div class="scontainer" style="width:100%">
  <div class="scontainer-fluid">
    <%= render 'taskas/pricing' %>
  </div>
</div>