<button class="btn btn-sm btn-info">CREATE NEW CENTER</button></br></br>

<% if params[:reg] == "PTNS" %>
  <%= render 'taskas/form-min' %>
<% else %>
  <%= render 'taskas/form' %>
<% end %>




  


