<p class="nav navbar-nav navbar-left" style="color:white;">Welcome back <strong>Mus!</strong>&nbsp;&nbsp;</p>
	<div class="chat-toggler sm">
	    <div class="profile-pic">
	      <img src="/assets/img/profiles/avatar_small.jpg" alt="" data-src="/assets/img/profiles/avatar_small.jpg" data-src-retina="/assets/img/profiles/avatar_small2x.jpg" width="35" height="35" />
	      <div class="availability-bubble online"></div>
	    </div>
	</div>
	
