<h3> Edit Details for <strong><%= @kid.name %></strong></h3>

<%if (@kid.taska_id.present?) && ($cakna21.include? @kid.taska_id.to_s) %>
  <%= render 'kids/form-ckn21' %>
<% else %>
  <%= render 'kids/form' %>
<% end %>