<%= render 'kids/kid_profile' %>
Powered by&nbsp
            <% image = Foto.all.where(foto_name: "KIDCARE FULL").first %>
              <% if image.picture.present? %>
                <a href="<%="#{image.picture.url}"%>" target="_blank">
                  <% if @pdf %>
                    <%= wicked_pdf_image_tag(image.picture.url, size: "87x30") %>
                  <% else %>
                    <%= image_tag(image.picture.url, size: "87x30") %>
                  <% end %>
                </a>
              <% end %>
            www.kidcare.my
