<h4>NEW CHILDREN REGISTRATION FOR </h4> 
<h3><% image = @fotos.where(foto_name: "CENTER LOGO").first %>
    <% if image.picture.present? %>
      <%= image_tag(image.picture.url, size: "50x50") %>
    <% end %> <%= link_to "#{@taska.name.upcase}", taska_page_path(id: params[:taska_id]), class: "btn btn-m btn-primary active", target: "_blank" %>
</h3>
<br>
<%= render 'kids/form' %>

	

