<% unpaid = @taska.payments.where(name: "TASKA PLAN").last %>

<% status = (@taska.expire.to_date - Time.now.to_date).to_i %>

<!-- EXPIRY -->
<a href="<%= "#{bill_taska1_monthly_url}"%>?id=<%= @taska.id %>">
  <% if status < 11 && status > 0 && 1==0 %>
    <p><button class="w3-button w3-block btn-warning"> <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp&nbspINACTIVE IN <strong><%= status %> DAYS</strong>. PLEASE CLICK HERE TO ACTIVATE</button></p>
  <% elsif status <= 0 %>
    <p><button class="w3-button w3-block btn-danger"> <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp&nbspYOUR ACCOUNT HAS EXPIRED</strong>. PLEASE CLICK HERE TO ACTIVATE</button></p>
  <% end %>
</a>