
  <%= render 'tchdetails/profile' %>

          <%= link_to "BACK", :back, class: "btn btn-sm btn-success active" %>
          <%= link_to "PRINT", print_profile_path(id: @tchdetail, owner_id: @owner, format: :pdf), class: "btn btn-sm btn-info active", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>