<%= render 'tchdetails/profile' %>

<span align="center">
  Powered by <strong>www.kidcare.my</strong>&nbsp<%= wicked_pdf_image_tag('kidcare_logo/kidcare_logo_only.png', width: 25, height: 25) %> 
</span>