<div class="container">
  <%= link_to "EDIT", root_path, class: "btn btn-lg btn-warning" %>&nbsp
  <%= link_to "NEW REGISTRATION", root_path, class: "btn btn-lg btn-success" %>
</div><br>
<%= render 'tchdetails/profile' %>