<div class="container">
  <%= link_to "EDIT", edit_tchdetail_path(id: @tchdetail.id), class: "btn btn-lg btn-warning" %>&nbsp
  <% if @tchdetail.anis == "true" %>
    <%= link_to "NEW REGISTRATION", "https://daftaranis.kidcare.my", class: "btn btn-lg btn-success" %>
  <% end %>
</div><br>
<%= render 'tchdetails/profile' %>