<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" align="center">MOHD MUSTAKHIM</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
        <div class=" col-md-9 col-lg-9 "> 
          <table class="table table-striped table-user-information">
            <tbody>
              <tr>
                <td>Department:</td>
                <td>Programming</td>
              </tr>
              <tr>
                <td>Hire date:</td>
                <td>06/23/2013</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>01/24/1988</td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>Female</td>
              </tr>
                <tr>
                <td>Home Address</td>
                <td>Kathmandu,Nepal</td>
              </tr>
              <tr>
                <td>Email</td>
                <td><a href="mailto:info@support.com">info@support.com</a></td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td>123-4567-890(Landline)<br>555-4567-890(Mobile)
                </td>    
              </tr>   
            </tbody>
          </table>
          <a href="#" class="btn btn-primary">My Sales Performance</a>
          <a href="#" class="btn btn-primary">Team Sales Performance</a>
        </div>
      </div>
    </div>
  </div>
</div>
