

<div class="scontainer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="frontside">
        <div class="card">
          <div class='col-lg-12'>
            <span><i class="fa fa-chalkboard"></i></span>
            <a href="#">
              <span class="pull-right text-danger">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </div>
          <div class='col-lg-12 well'><br>
            <h6 class="pull-left">3</h6>
            <h5 align="center">MORNING GLORY</h5>
            <br>
          </div>
          <div class='col-lg-12'>
            <p>4111xxxxxxxx3265</p>
            <p>4111xxxxxxxx3265</p>
            <p class="text-muted">Exp: 12-08</p>
          </div>
          <button type="button" class="btn btn-warning btn-sm">VIEW</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="frontside">
        <div class="card">
          <div class='col-lg-12'>
            <span><i class="fa fa-chalkboard"></i></span>
            <a href="#">
              <span class="pull-right text-danger">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </div>
          <div class='col-lg-12 well'><br>
            <h6 class="pull-left">3</h6>
            <h5 align="center">MORNING GLORY</h5>
            <br>
          </div>
          <div class='col-lg-12'>
            <p>4111xxxxxxxx3265</p>
            <p>4111xxxxxxxx3265</p>
            <p class="text-muted">Exp: 12-08</p>
          </div>
          <button type="button" class="btn btn-warning btn-sm">VIEW</button>
        </div>
      </div>
    </div>
    
  </div>
</div>