
<div class="card" style="width:100%">
<div class="container-fluid">
<h2>STYLE 1</h2>       
       
       <!-- PRICING TABLE STYLE 1-->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Starter</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost warning-bg"><strong>RM 120</strong><span>/MONTH</span></div>
                            <div class="price_table_row">1 Website</div>
                            <div class="price_table_row">10 GB Storage</div>
                            <div class="price_table_row">10 GB Bandwidth</div>
                            <div class="price_table_row">10 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                    <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>         
                    <div class="price_table_container">
                        <div class="price_table_heading">Premium</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost success-bg"><strong>$ 39</strong><span>/MONTH</span></div>
                            <div class="price_table_row">100 Websites</div>
                            <div class="price_table_row">1 TB Storage</div>
                            <div class="price_table_row">1 TB Bandwidth</div>
                            <div class="price_table_row">100 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Master</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost info-bg"><strong>$ 60</strong><span>/MONTH</span></div>
                            <div class="price_table_row">Unlimited Websites</div>
                            <div class="price_table_row">10 TB Storage</div>
                            <div class="price_table_row">100 TB Bandwidth</div>
                            <div class="price_table_row">1000 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRICING TABLE STYLE 1-->
        
        <!-- SPACER-->
        <div class="spacer"></div>
        <!-- SPACER-->

</div>