<div class="bg-white">
  <div class="container">

<h2> SEMINAR STRATEGIC PLANNING PTNS 2019 </h2>
<p> SWOT ANALYSIS </p>
<br>


<div class='row'>
  <div class='col-lg-12 col-12'>

    <%= render 'pages/form-ptnssp' %>

  </div>
</div>
</div>
</div>