<h1 align="center">KIDCARE SYSTEM VIDEO TUTORIAL</h1>
<h3 align="center">(Please Click The Button To View)</h3><br>


<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel0">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 01 : REGISTER CENTER
</button>
<div id="filter-panel0" class="collapse filter-panel0">
  <hr><br>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_Gah_4WB_f8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>   
<br><br> 

<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel1">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 02 : UPDATE CENTER PROFILE
</button>
<div id="filter-panel1" class="collapse filter-panel1">
  <hr><br>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yqWputH8wiE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>   
<br><br>

<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel2">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 03 : CREATE CLASSROOM
</button>
<div id="filter-panel2" class="collapse filter-panel2">
  <hr><br>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8TOnp3hLxFw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>   
<br><br>

<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel4">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 04 : REGISTER CHILDREN
</button>
<div id="filter-panel4" class="collapse filter-panel4">
  <hr>
  
  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel4-1">
    <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-1 : REGISTER CHILDREN BY PARENTS
  </button>
  <div id="filter-panel4-1" class="collapse filter-panel4-1">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/t1ucko2Jpu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel4-2">
    <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-2 : REGISTER CHILDREN BY ADMIN/SUPERVISOR
  </button>
  <div id="filter-panel4-2" class="collapse filter-panel4-2">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nSgiAYHB4c8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <hr>


</div>   
<br><br>

<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel3">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 05 : ASSIGN CHILDREN TO CLASSROOM
</button>
<div id="filter-panel3" class="collapse filter-panel3">
  <hr><br>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/B8olg78wjFY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>   
<br><br>

<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel5">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 06 : EXTRAS
</button>
<div id="filter-panel5" class="collapse filter-panel5">
  <hr><br>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l2m1_J0R2bw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>   
<br><br>



<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel6">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 07 : NEW ADMIN OR SUPERVISOR
</button>
<div id="filter-panel6" class="collapse filter-panel6">
  <hr><br>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l4Cn8FEIxSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>   
<br><br>

<!-- NEXT VIDEO -->
<button type="button" class="btn btn-info btn-md" data-toggle="collapse" data-target="#filter-panel7">
  <span class="fas fa-angle-double-down"></span>&nbsp&nbsp STEP 08 : BILLS
</button>
<div id="filter-panel7" class="collapse filter-panel7">
  <hr>
  
  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel7-1">
    <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-1 : REGISTER CHILDREN BY PARENTS
  </button>
  <div id="filter-panel7-1" class="collapse filter-panel7-1">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/t1ucko2Jpu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <br><br>

  <!-- NEXT VIDEO -->
  <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter-panel7-2">
    <span class="fas fa-arrow-alt-circle-down"></span>&nbsp&nbsp STEP 04-2 : REGISTER CHILDREN BY ADMIN/SUPERVISOR
  </button>
  <div id="filter-panel7-2" class="collapse filter-panel7-2">
    <hr><br>
    <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nSgiAYHB4c8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>   
  <hr>


</div>   
<br><br>























        
  


