
<div class="row">

  <% (1..10).each do |n| %>
    <!-- start card -->
    <div class="col-xs-12 col-sm-6 col-md-4"><div class="image-flip" ><div class="mainflip flip-0"><div class="frontside"><div class="card">   

      <div class="card-body text-center">
          <p><img class=" img-fluid" src="https://kota-prod.s3.amazonaws.com/uploads/foto/picture/836/Rusdi.jpg" alt="card image" width="200" height="200"></p>
          <h4 class="card-title">Sunlimetech</h4>
          <p class="card-text">This is basic card with image on top, title, description and button.</p>
          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
      </div>

    </div></div></div></div></div>                      
    <!-- end card -->
  <% end %>

</div>
            
