<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">YOUR COMMUNITY PORTAL</div><br>
      <div class="row text-center">
          <div class="col-md-3">
            <h4 class="service-heading">Members Information</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-child fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">A centralized online database system to record and store all the residents information such as name, contact info, address and payment status for all their fees! 
            </p>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading" >Fees Issuance & Management</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-file-invoice-dollar fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">No more manual bills and manual receipts. We will manage all the bills creation, issuance via sms/email, tracking, and receipts issuance automatically. We even send a payment reminder for unpaid bills!
            </p>
          </div>
          
          <% if 1==0 %>
            <div class="col-md-2">
              <h4 class="service-heading">News and Info Blast</h4>
              <span class="fa-stack fa-4x">
                <i class="fas fa-bullhorn fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
              </span>
              <p class="service-text" style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div> 
            <div class="col-md-2">
            <h4 class="service-heading">VISITOR MANAGEMENT</h4>
              <span class="fa-stack fa-4x">
                <i class="fas fa-grin-hearts fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
              </span>
              <p class="service-text" style="text-align:justify">Pre-register your visitor to avoid the hassle at the guard house. Get ready and get notified before your visitor ring your house bell!</p>
            </div>
            <div class="col-md-2">
              <h4 class="service-heading">SECURITY & SAFETY</h4>
              <span class="fa-stack fa-4x">
                <i class="fas fa-user-shield fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
              </span>
              <p class="service-text" style="text-align:justify">Are you in doubt that your hired security guard performing their patrolling task accordingly? Track their patrolling routine using our features. For emergency cases, use our S.O.S button to instantly alert and seek assistant from the security guard</p>
            </div>
          <% end %>  
          <div class="col-md-3">
            <h4 class="service-heading">REALTIME PAYMENT & TRACKING</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-grin-hearts fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">With a single click, residence can view their monthly bills and payment records. Make immediate online payment from the system and receive instant receipt!
            </p>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading">Account Management</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-chart-line fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">View you month-to-month fees collection. Record and manage your other incomes and expenses. Our system shall analyze everything for you. Sit back and view real time financial status of your organization
            </p>
          </div>
         
          
        </div>
        
        <br><br>
        
        <a href="https://api.whatsapp.com/send?phone=601162801556&text=Tell%20Me%20More%20About%20KOTA&source=&data="><button class="btn btn-success btn-lg text-uppercase" data-toggle="tooltip" data-placement="top" title="Refer us and get RM100 cash instantly">
          <i class="fa fa-whatsapp fa-lg"></i>&nbsp&nbsp 013-3996061
        </button></a>

        <a href="https://api.whatsapp.com/send?phone=601162801556&text=Tell%20Me%20More%20About%20KOTA&source=&data="><button class="btn btn-success btn-lg text-uppercase" data-toggle="tooltip" data-placement="top" title="Refer us and get RM100 cash instantly">
          <i class="fa fa-whatsapp fa-lg"></i>&nbsp&nbsp 017-4151556
        </button></a>
      
     
      
    </div>
  </div>
</header>
<!-- pricing -->
<% if 1==0 %>
<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">SERVICES PRICING</h2>
        <h3 class="section-subheading text-muted">Be the first 50 centers to sign-up and get free setup fee worth <strong>RM 500</strong>.
      <div class="scontainer" style="width:100%">
        <div class="scontainer-fluid">
          <%= render 'taskas/pricing' %>
        </div>
      </div>
    </div>
    <div class="row text-center">
    </div>
  </div>
</section>
<% end %>



   

    
