<div class="page-bg" style="background-color:#800000">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare ultricies justo, id auctor nunc ornare a. Nam vestibulum efficitur vehicula. Donec ac nulla sed dui congue porta. Praesent id varius libero, eu venenatis arcu. Aliquam elementum turpis odio, id venenatis magna sagittis sed. Duis iaculis egestas urna, ut mattis magna molestie varius. Vivamus feugiat sem vel eros faucibus, eu lobortis quam pharetra. Pellentesque sollicitudin placerat quam. Praesent cursus egestas neque, ut semper lacus pellentesque sed. Quisque ac viverra justo. Nullam a nisl diam. Fusce facilisis est massa, a maximus neque elementum non. Suspendisse potenti. 
</div>

<div class="page-bg" style="background-color:#0050be">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare ultricies justo, id auctor nunc ornare a. Nam vestibulum efficitur vehicula. Donec ac nulla sed dui congue porta. Praesent id varius libero, eu venenatis arcu. Aliquam elementum turpis odio, id venenatis magna sagittis sed. Duis iaculis egestas urna, ut mattis magna molestie varius. Vivamus feugiat sem vel eros faucibus, eu lobortis quam pharetra. Pellentesque sollicitudin placerat quam. Praesent cursus egestas neque, ut semper lacus pellentesque sed. Quisque ac viverra justo. Nullam a nisl diam. Fusce facilisis est massa, a maximus neque elementum non. Suspendisse potenti. 
</div>


