<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">SIMPLIFIED MANAGEMENT SYSTEM</div><br>
      <div class="row text-center">
          <div class="col-md-3">
            <h4 class="service-heading">Registration</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-child fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">New children registration had never been easier. Just share with parents your unique center links to register. All your centres information will be displayed automatically to parents during sign up.</p>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading">Database</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">Access and manage your centers information anywhere and anytime. We help you keep all your database SECURE and AVAILABLE all the time. Just login to your dashboard and all your information will be ready!</p>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading" >Billing</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-file-invoice-dollar fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">No more manual bills and receipts needed. We will manage all the invoices creation, tracking and receipts automatically with all your details included.</p>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading">Accounting</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-chart-line fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">Keep track on your centers financial performance anytime and anywhere. Our accounting system will allow you to submit new income and expense by month. You will also able to generate monthly financial report on the fly!</p>
          </div>
        </div>
        <br><br>
        
        <button class="btn btn-success btn-lg text-uppercase" data-toggle="tooltip" data-placement="top" title="Refer us and get RM100 cash instantly">
          <i class="fa fa-whatsapp fa-lg"></i>&nbsp&nbsp 011-62801556
        </button>
      
     
      
    </div>
  </div>
</header>
<!-- pricing -->
<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">SERVICES PRICING</h2>
        <h3 class="section-subheading text-muted">Be the first 50 centers to sign-up and get free setup fee worth <strong>RM 500</strong>.<br><br> Refer us to other centers and get <strong>RM 100</strong> cash! </h3>
      <div class="scontainer" style="width:100%">
        <div class="scontainer-fluid">
          <%= render 'taskas/pricing' %>
        </div>
      </div>
    </div>
    <div class="row text-center">
    </div>
  </div>
</section>



   

    
