<section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">

<h1> PLEASE CHOOSE YOUR LOGIN</h1> </br></br>



<%= link_to "ADMIN", admin_index_path, class: "btn btn-lg btn-success active" %> 

<%= link_to "TEACHER", teacher_index_path, class: "btn btn-lg btn-success active"  %>

<%= link_to "PARENTS", parent_index_path, class: "btn btn-lg btn-success active"  %>
</div>
</div>
</div>
</section>