
	<% if @teachers_search %>
		<% if @teachers_search.size > 0 %>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>ID</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% @teachers_search.each do |teacher| %>
						<tr>
							<td><%= teacher.username %></td>
							<td><%= teacher.email %></td>
							<td><%= teacher.id %></td>
							<% if teacher.already_has_taska?(teacher.id) %>
								<% if teacher.has_same_taska?(teacher.id, params[:id]) %>
									<td>You already added this techer</td>
								<% else %>
									<td>Already has Taska</td>
								<% end %>
							<% else %>
								<td><%= link_to "Add Teacher", add_teacher_path(teacher: teacher), class: "btn btn-xs btn-primary active", method: :post %></td>
							<% end %>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			
		<% else %>	
			<div id="results" class="col-md-12">
				<p> No Teacher Exist. Please check your details </p>
			</div>
		<% end %>	
	<% end %>

	




