<div id="tabs" class="project-tab bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
              MY APPLICATIONS
            </a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">     MY LEAVE BALANCE
            </a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">LEAVES RECORD
            </a>
          </div>
        </nav>
        
        <div class="tab-content" id="nav-tabContent">
          <!-- MY APPLICATIONS -->
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
           NEW LEAVES <br>
           PENDING APPROVAL LIST
          </div>

          <!-- LEAVE BALANCES -->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
            <div class="row">
            <% @tchlvs.each do |lv| %>
              <div class="notice notice-info col-sm-3">
                <h5><%= lv.name %></h5>
                <span class="text-success">
                   TOTAL : <%= lv.day %> DAYS <br>
                </span>
                <span class="text-danger">
                   USED : 2 DAYS <br>
                </span>
                <span class="text-info">
                   BALANCE : 3 DAYS <br>
                </span>
              </div><br>
            <% end %>
            </div>
          </div>
          <!-- LEAVE RECORD -->
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            Display all past leaves
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
