<p align="center"><img src="https://s3.amazonaws.com/kidcare-prod/logokprm.png" height="100px" width="100px" ></p>
    <div class="form-group">
      <br><strong>CARA-CARA MENDAFTAR</strong>
    </div>
    <ol>
      <li>Isi borang secara online di <a href="https://www.kidcare.my/daftarptns?type=kprm"><font color="blue">http://daftarkrpm.kidcare.my</font></a></li>
      <li>Sila klik di <%= link_to "pautan ini", after_reg_ptns_path(tp: "kprm"), class: "btn btn-sm btn-warning active", target: "_blank" %> untuk mendapatkan jumlah dan cara pembayaran.
      </li>
      <li>Setelah bayaran dibuat, slip bayaran bank perlu dihantar melalui whatsapp ke <strong>019-2466911</strong>. Sila nyatakan nama, no. kad pengenalan dan jumlah bayaran </li>
    </ol>