
<img src=<%= "#{$eventpt[params[:evid]][0]}" %> height="300px" width="300px" >
<br><br>
<h4>PENDAFTARAN UNTUK <%= "#{$eventpt[params[:evid]][1]}" %>  </h4>

<% if 1==0 %> 
  <%= render 'ptns_mmbs/regevent', act: "reg_cfm" %>
<% else %>
  PENDAFTARAN DITUTUP
<% end %>