<div class="card mb-3">
  <div class="card-header" style="background-color:#0050be">
    <h3 align="center" style="color:white"> EDITING <%= @college.name %> </h3>
  </div>
</div>

<%= render 'colleges/form' %>
<%= link_to "DELETE AGENCY", college_path(@college), class: "btn btn-md btn-success active", method: :delete, data: {confirm: "Are You Sure?"} %> 