<div class="card mb-3">
  <div class="card-header" style="background-color:#0050be">
    <h3 align="center" style="color:white"> CREATING NEW AGENCY </h3>
  </div>
</div>

<%= render 'colleges/form' %>

<%= link_to "BACK", :back, class: 'btn btn-sm btn-info btn-lg' %></br></br>