<div class="card mb-3">
  <div class="card-header" style="background-color:#0050be">
    <h3 align="center" style="color:white"> EDITING <%= @course.name %> </h3>
  </div>
</div>

<%= render 'courses/form' %>

<%= link_to "DELETE COURSE", course_path(@course), class: "btn btn-md btn-success active", method: :delete, data: {confirm: "Are You Sure?"} %> 