<div class="card mb-3">
  <div class="card-header" style="background-color:#0050be">
    <h3 align="center" style="color:white"> New course for <%= @college.name %> </h3>
  </div>
</div>

<h3>  </h3>

<%= render 'courses/form' %>

