<%= link_to "Register New Children", index_parent_path(id: @parent.id), class: "btn btn-xs btn-primary active"%></br></br>

<% if @mykids.present? %>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-search"></i>
      ALL REGISTERED CHILDREN
    </div>
    <div class="card-body bg-light">
      <!-- Team -->
      <div class="container">
        <div class="row">

          <% @mykids.each do |kid|%>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p>
                      <% image = kid.fotos.where(foto_name: "CHILDREN PICTURE").first %>
                      <% if image.picture.present? %>
                        <%= image_tag(image.picture.url, size: "100x100") %>
                      <% end %>
                    </p>
                    <h4 class="card-title"><%= kid.name.upcase %></h4>
                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                    <%= link_to "EDIT DETAILS", edit_kid_path(kid) %>
                  </div>
                </div>
              </div>     
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% else %>
  You have not registered any children. 
<% end %>