/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-glyphicons.css.scss
 Start for WEBARCH
 * require pace/pace-theme-flash
 * require bootstrapv3/css/bootstrap.min
 * require bootstrapv3/css/bootstrap-theme.min
 * require font-awesome/css/font-awesome
 * require animate.min
 * require jquery-scrollbar/jquery.scrollbar
 * require css/webarch.css
 End for WEBARCH

 Start for AGENCY
 *= require bootstrap/css/bootstrap
 *= require fontawesome-free/css/all
 *= require css_agency/agency
 End for AGENCY

 START FOR ADMIN
 *= require datatables/dataTables.bootstrap4
 *= require css_sb-admin/sb-admin
 END FOR ADMIN

 *= require_tree .
 *= require_self
@import "fontawesome-free/css";

 */

 

/*
html {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
*/

 

