<h3>EXPENSES SUMMARY FOR <%= @taska.name %></h3></br>

<% if @data.present? %>
  <% @data %>
  <% @dummy = {["payment","2017"]=>{["paid","2017"]=>130,["due","2017"]=>120},["payment","2018"]=>{["paid","2018"]=>130,["due","2018"]=>120}} %>
  <%= column_chart @data, download: true, colors: ["red", "blue", "orange", "green"] %>
<% else %>
  No Data to Display
<% end %>






