<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/page_head' %>
      <div class="container"><br>
          <div class="col-lg-12">
            <%= render partial: "shared/flash_messages", flash: flash %>
            <%= yield %>
          </div>
      </div>
  <%= render 'layouts/page_foot' %>
</html>